/* App 스타일 */

/* Bootstrap starter-template Custom CSS */
body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* App */
.App {}

/* Header */
.App-header {}

/* Side */
.App-side {}

/* Contents */
.App-contents {}

/* Footer */
.App-footer {}
